.cardspace {
    max-height: 470px;
}

@media screen and (min-width: 800px) {
    .normal {
        margin: 7px;
    }
  
}

@media screen and (max-width: 768px) {
    .mobile {
        flex-direction: column;
        margin: 7px;
    }
  
}
